.list-element(id=`crew-${crew.id}`)

	.left.rounded.shade-b
		span.txt-amber.capitalize= crew.mode
		span.txt-amber= `${crew.count()} / ${crew.slotsMax}`

	.separator.bg-amber.rounded.shade-b
	
	.right.rounded.shade-b
		span.txt-amber= crew.name
		.avatars
			-
				for(let slotId = 0; slotId < crew.slotsMax; slotId++) {
				const attrs = (crew.mates[slotId]) 
				? { style: `background-image: url('${crew.mates[slotId].avatar}')`} 
				: {
						"hx-post": "/htmx/crew-join", 
						"hx-target": "#view", 
						"hx-vals": `js:{crewId: ${crew.id}}`, 
						"hx-swap": "innerHTML"
					}
			.avatar&attributes(attrs)
			- }