<div 
	id="crew-<%= crew.id %>"
	class="list-element"
>

	<div class="left rounded shade-b">
		<span class="txt-amber capitalize"><%= crew.mode %></span>
		<span class="txt-amber"><%= `${crew.count()} / ${crew.slotsMax}` %></span>
	</div>

	<div class="separator bg-amber rounded shade-b"></div>
	
	<div class="right rounded shade-b">
		<span class="txt-amber"><%= crew.name %></span>
		<div class="avatars">
			<% for(let slotId = 0; slotId < crew.slotsMax; slotId++) { %>
				<div 
					class="avatar"
					style="background-image: url('<%= crew.players[slotId]?.avatar %>')"
					<% if(!crew.players[slotId]) { %>
						hx-post="/htmx/crew-join" 
						hx-target="#view" 
						hx-vals='{"crewId": <%= crew.id %>}'
						hx-swap="innerHTML"
					<% } %>
				></div>
			<% } %>
		</div>
	</div>

</div>